<launch>
    <param name="config_yaml"  value=" $(find sensor_fusion)/config/config_bag.yaml" />
    <param name="motor_speed_topic"  value="/red/mavros/rc/out" />
    <param name="imu_topic"  value="/red/mavros/imu/data" />
    <param name="plot_file_loc"  value=" $(find sensor_fusion)/matlab/" />
    <param name="/use_sim_time" value="false"/>

    <node pkg="rosbag" type="play" name="player" output="screen"
          args=" /home/kovac/devel/diplomski_seminar/src/UAV-optimization/data/Offline_testing_bag_2020-09-30-15-24-50.bag"/>
    <node pkg="sensor_fusion" type="sensor_fusion" name="sensor_fusion" output="screen"/>
    <node pkg="rosbag" type="record" name="rosbag_record"
          args="record -a -o /home/kovac/devel/diplomski_seminar/src/UAV-optimization/data/EKF/EKF"/>
</launch>
