<launch>

    <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
    <arg name="config_yaml" default="$(find sensor_fusion)/config/clean_config.yaml"/>
    <arg name="imu_topic" default="imu"/>

    <include file="$(find mmuav_gazebo)/launch/uav_trajectory.launch"/>
    <node pkg="sensor_fusion" type="republish_odom" name="sensor_fusion"/>

    <node pkg="sensor_fusion" type="sensor_fusion" name="sensor_fusion" output="screen" ns="$(arg namespace)">
        <param name="config_yaml"  value="$(arg config_yaml)" />
        <param name="/use_sim_time" value="true"/>
        <param name="imu_topic"  value="$(arg imu_topic)" />
    </node>

</launch>
