<launch>

  <arg name="namespace"     default="$(env UAV_NAMESPACE)"/>
  <arg name="imu_topic"     default="mavros/imu/data"/>
  <arg name="config_yaml"   default="$(find sensor_fusion)/config/sensor_client_config.yaml"/>
  <arg name="es_ekf_topic"  default="es_ekf/odom"/>
  <arg name="uav_name"      default="eagle"/>
  
  <arg name="odom_helper_enable"  default="false"/>
  <arg name="odom_helper_topic"   default="mavros/global_position/local"/>

  <!-- Debug arguments -->
  <arg name="debug"           default="false" />
  <arg     if="$(arg debug)"  name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)"  name="launch_prefix" value="" />

  <node pkg="sensor_fusion" type="sensor_fusion" name="sensor_fusion" output="screen" ns="$(arg namespace)"
    launch-prefix="$(arg launch_prefix)">
    <rosparam command="load"      file="$(arg config_yaml)" />
    <param name="config_yaml"     value="$(arg config_yaml)" />
    <param name="imu_topic"       value="$(arg imu_topic)" />
    <param name="es_ekf_topic"    value="$(arg es_ekf_topic)" />
    <param name="uav_name"        value="$(arg uav_name)" />

    <param name="odom_helper_enable"  value="$(arg odom_helper_enable)" />
    <remap from="odom_helper_topic"   to="$(arg odom_helper_topic)" />
  </node>

</launch>
